@font-face {
    font-family: fontArabic;
    src: url(../fonts/arabic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: transparent;
}

:root {
    --dark-black: #010100;
    --dark-grey: #131313;
    --last-dark: #0C0C0C;
    --purple-dark: #131116;
    --light-grey: #E2E1DD;
    --sky-blue: #2CBDFE;
    --bright-purple: #FF0066;
    --pale-pink: #FF6B97;
}

/*      nav     */

nav {
    width: 100%;
    height: 100px;
    background-color: var(--last-dark);
    display: flex;
    flex-direction: row-reverse;
}

nav .logo {
    color: var(--light-grey);
    font-size: 2.5rem;
    background-color: var(--dark-black);
    padding: 20px 5%;
}

nav .container-search {
    width: 65%;
    height: 100%;
    background-color: var(--dark-grey);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

nav .barSearch {
    width: 50%;
    height: 100%;
    background-color: var(--light-grey);
    display: flex;
}

nav .barSearch input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 1rem;
    color: var(--dark-black);
    direction: rtl;
}

nav .barSearch button {
    width: 50px;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--dark-black);
    cursor: pointer;
    border-right: 1px solid var(--dark-black);
    transition: all 300ms;
    flex-shrink: 0;
}

nav .barSearch button:hover {
    color: var(--light-grey);
    background-color: var(--dark-black);
}

/*      section     */

section {
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, rgba(1, 1, 0, 0.9) 30%, transparent 70%), url(../test.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section .landing-content {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .landing-content h1 {
    direction: rtl;
    color: var(--light-grey);
    font-family: fontArabic;
    font-size: 2rem;
    font-weight: 200;
}

section .landing-content a {
    color: var(--light-grey);
    background-color: var(--bright-purple);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 250ms;
}

section .landing-content a:hover {
    background-color: var(--pale-pink);
}

/*      container       */

.container {
    width: 100%;
    min-height: 350px;
    background-color: var(--dark-grey);
    filter: drop-shadow(10px 0 10px var(--dark-black));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--last-dark);
}

.container .box {
    width: 150px;
    height: 450px;
    transition: all 300ms;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box.active {
    width: 300px;
}

.container .box.hide {
    display: none;
}


/*      footer      */
footer {
    width: 100%;
    padding: 30px 5%;
    background-color: var(--last-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
    gap: 20px;
}

footer .logo {
    font-size: 2rem;
    color: var(--light-grey);
}

footer p {
    direction: rtl;
    color: var(--light-grey);
}

footer .links a {
    color: var(--light-grey);
    padding: 0 10px;
}

footer .links a:not(:last-child) {
    border-right: 1px solid var(--light-grey);
}

@media only screen and (max-width: 1000px) {

    .navPhone {
        height: 70px;
        width: 90%;
        position: fixed;
        bottom: 10px;
        border-radius: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--purple-dark);
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-items: center;
        font-size: 1.2rem;
    }

    .navPhone a{
        height: 100%;
        color: var(--light-grey);
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    .navPhone a.active{
        color: var(--bright-purple);
    }

    nav {
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
    }

    nav .logo {
        font-size: clamp(1.2rem, 2vw, 2rem);
    }

    nav .container-search {
        width: 55%;
        height: 100%;
        background-color: var(--dark-grey);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 99%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    nav .barSearch {
        display: none;
    }

    section {
        height: 400px;
        background: linear-gradient(to top, rgba(1, 1, 0, .9), transparent 90%), url(../test.jpg);
        background-size: cover;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
        padding: 50px 0;
    }

    section .landing-content h1 {
        font-size: clamp(1.2rem, 3.5vw, 2rem);
    }

    section .landing-content a {
        font-size: 1rem;
    }

    section .landing-content a:hover {
        background-color: var(--pale-pink);
    }

    .box {
        height: 350px !important;
        width: 80px !important;
    }

    .box.active {
        width: 200px !important;
    }
}