@font-face {
    font-family: fontArabic;
    src: url(../fonts/arabic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: transparent;
}

:root {
    --dark-black: #010100;
    --dark-grey: #131313;
    --last-dark: #0C0C0C;
    --purple-dark: #131116;
    --light-grey: #E2E1DD;
    --sky-blue: #2CBDFE;
    --bright-purple: #FF0066;
    --pale-pink: #FF6B97;
}

body {
    background-color: var(--last-dark);
}

/*      nav     */

nav {
    width: 100%;
    height: 100px;
    background-color: var(--last-dark);
    display: flex;
    flex-direction: row-reverse;
}

nav .logo {
    color: var(--light-grey);
    font-size: 2.5rem;
    background-color: var(--dark-black);
    padding: 20px 5%;
}

nav .container-search {
    width: 65%;
    height: 100%;
    /* background-color: var(--dark-grey); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 99%); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
}

nav .container-search::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 99%);
}

nav .barSearch {
    width: 50%;
    height: 100%;
    background-color: var(--light-grey);
    display: flex;
    z-index: 1;
}

nav .barSearch input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 1rem;
    color: var(--dark-black);
    direction: rtl;
}

nav .barSearch button {
    width: 50px;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--dark-black);
    cursor: pointer;
    border-right: 1px solid var(--dark-black);
    transition: all 300ms;
    flex-shrink: 0;
}

nav .barSearch button:hover {
    color: var(--light-grey);
    background-color: var(--dark-black);
}

/*      section     */

section {
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, rgba(1, 1, 0, 0.9) 30%, transparent 70%), url(../test.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section .landing-content {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .landing-content h1 {
    direction: rtl;
    color: var(--light-grey);
    font-family: fontArabic;
    font-size: 2rem;
    font-weight: 200;
}

section .landing-content a {
    color: var(--light-grey);
    background-color: var(--bright-purple);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 250ms;
}

section .landing-content a:hover {
    background-color: var(--pale-pink);
}

/*      container       */

.container {
    width: 100%;
    min-height: 350px;
    background-color: var(--dark-grey);
    filter: drop-shadow(10px 0 10px var(--dark-black));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--last-dark);
}

.container .box {
    width: 150px;
    height: 450px;
    transition: all 300ms;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box.active {
    width: 300px;
}

.container .box.hide {
    display: none;
}

.aboutMovie {
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: auto 1fr;
    direction: rtl;
    gap: 20px;
    padding: 20px 5%;
    background-color: var(--dark-grey);
    filter: drop-shadow(10px 0 10px var(--dark-black));
}

.aboutMovie .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--light-grey);
}


/*      footer      */
footer {
    width: 100%;
    padding: 30px 5%;
    background-color: var(--last-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
    gap: 20px;
}

footer .logo {
    font-size: 2rem;
    color: var(--light-grey);
}

footer p {
    direction: rtl;
    color: var(--light-grey);
}

footer .links a {
    color: var(--light-grey);
    padding: 0 10px;
}

footer .links a:not(:last-child) {
    border-right: 1px solid var(--light-grey);
}

:where(.navPhone, .formSearch) {
    display: none;
}

ion-icon {
    pointer-events: none;
}

.episodes {
    width: 100%;
    max-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px 5%;
    overflow-y: auto;
}

.episodes .epi {
    background-color: var(--purple-dark);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--light-grey);
}

@media only screen and (max-width: 1000px) {

    .navPhone {
        height: 70px;
        /* width: 90%; */
        position: sticky;
        bottom: 10px;
        border-radius: 100px;
        left: 20px;
        right: 50px;
        /* transform: translateX(-5%); */
        /* left: 50%;
        transform: translateX(-50%); */
        background-color: var(--purple-dark);
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        font-size: 1.2rem;
    }

    .navPhone a {
        height: 100%;
        color: var(--light-grey);
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    .navPhone a.active {
        color: var(--bright-purple);
    }

    nav {
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
    }

    nav .logo {
        font-size: clamp(1.2rem, 2vw, 2rem);
    }

    nav .container-search {
        width: 55%;
        padding: 15px;
    }

    nav .barSearch {
        display: none;
    }

    section {
        height: 400px;
        background: linear-gradient(to top, rgba(1, 1, 0, .9), transparent 90%), url(../test.jpg);
        background-size: cover;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
        padding: 50px 0;
    }

    section .landing-content h1 {
        font-size: clamp(1.2rem, 3.5vw, 2rem);
    }

    section .landing-content a {
        font-size: 1rem;
    }

    section .landing-content a:hover {
        background-color: var(--pale-pink);
    }

    .box {
        height: 350px !important;
        width: 80px !important;
    }

    .box.active {
        width: 200px !important;
    }

    .formSearch.active {
        position: absolute;
        inset: 0px;
        background-color: var(--purple-dark);
        display: flex;
        flex-direction: column;
        padding: 50px 5% 80px;
        gap: 20px;
    }

    .formSearch.active .barSearch {
        width: 100%;
        height: 50px;
        display: flex;
        border: 1px solid;
    }

    .formSearch.active .barSearch button {
        width: 50px;
        border: none;
        border-right: 1px solid var(--dark-black);
        font-size: 1.2rem;
    }

    .formSearch.active .barSearch input {
        flex-grow: 1;
        padding: 10px;
        direction: rtl;

        border: none;
    }

    .formSearch.active .resultSearch {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        overflow-y: auto;
    }

    .formSearch.active .resultSearch h3 {
        width: 100%;
        color: var(--light-grey);
    }

    .formSearch.active .resultSearch .box2 {
        width: 150px;
    }

    .formSearch.active .resultSearch .box2 img {
        width: 100%;
    }

    .aboutMovie {
        width: 100%;
        min-height: 400px;
        display: grid;
        grid-template-columns: auto 1fr;
        direction: rtl;
        gap: 20px;
        padding: 20px 5%;
        background-color: var(--dark-grey);
        filter: drop-shadow(10px 0 10px var(--dark-black));
    }

    .aboutMovie img {
        width: 200px !important;
    }

    .aboutMovie h1 {
        font-size: 1.5rem;
    }

    .aboutMovie p {
        font-size: .6rem;
    }

    .aboutMovie .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--light-grey);
    }

    /* footer {
        padding: 30px 5% 20%;
    } */
}